<p *ngIf="noRecords">no records</p>
<table class="table table-striped" *ngIf="!godetail&&!noRecords">
  <thead style="background-color: '#508CA5'">
    <tr style="background-color: '#508CA5'">
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">City</th>
      <th scope="col">States</th>
      <th scope="col">Wish List</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of items, let i=index">
    <tr [style.background-color]="i%2==0?'#96CFEE':'#508CA5'">
      <th scope="row">{{i+1}}</th>
      <td><img src="{{ item.srcObj.items[0]?.link }}" style="width: 20px; height: 20px"></td>
      <td><a href="#card" (click)="goDetails(item.city,item.state)">{{ item.city }}</a></td>
      <td>{{ item.state }}</td>
      <td>
      	<button (click) ="delete(item.city)" style="background-color: white"><i class="material-icons" style="color:orange">delete</i></button>
      </td>
    </tr>
  </tbody>
</table>
<app-details [submitted]="submitted" [city]="city" [curState]="curState" [share]="share" *ngIf="godetail"></app-details>